@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <p>
            </br>
        </p>
       <p style="align-items:stretch">
            Kingsway Locksmith happens to be the very first notion that arrives towards the mind once you are within necessity of an Emergency Locksmith Service.
            And we simply can't refuse the truth that 24 hour support is without a doubt a really good feature that's presented to us.
            In this short article we'll take a look at certain details with regards to precisely what you can anticipate coming from an Emergency Locksmith 
            and if perhaps it is a good thought to get in touch with one whenever in an emergency.
        </p>        
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <ul>
            <li>Reky locks</li>
            <li>Master Keyeng</li>
            <li>Repair/Repalce/install locks</li>
            <li>Repair/Repalce door closer</li>
            <li>Install door hardware</li>
            <li>Install Secyity plates</li>
        </ul> 
        
    </div>
    <div class="col-md-4">
        <h2>Replace/Install</h2>
        <ul>
            <li>Mailbox</li>
            <li>Padlocks</li>
            <li>Cabinet locks</li>
        </ul>       
    </div>
</div>