<div>
    <h2>Residential locksmith services</h2>

    <p>
        We deal with it every day and we know there’s not much worse than locking yourself out or even in for that matter, it’s a pain to say the least if you lose your keys it causes stress and anxiety. And we know when you are in this position you want to get it resolved as fast as possible.  Or on the other hand you may not be locked out, you may just be thinking about upgrading your home security, and for something so important it is without doubt you need a trusted partner.
        Be reassured we are on call 24/7 365 days a year to deal with any home security issue you may have; we will arrive at the premises fast and complete the work effectively and professionally.
    </p>
    <p></br></p>
    <p>
        Here’s how we help our domestic locksmith customers.
    </p>
    <div class="row">
        <div class="col-md-8">
            <ul>
                <li><span style="font:bold">Lockout Services</span> – If you’re locked out or in we provide a fast and reliable lockout service so you can get back into your home.</li>
                <li><span style="font:bold">Key services</span> – We open doors rekey locks, install new lock sets and provide new keys as well as repair any broken locks you have.</li>
                <li><span style="font:bold">Key duplication</span> – We can cut new keys for your existing deadbolts and locks</li>
                <li><span style="font:bold">Master key systems</span> </li>
                <li><span style="font:bold">Home safe installation</span> – with our assistance, your home and its contents will be as safe and secure as possible in a high security safe We can make sure every element of your home is protected.</li>
                <li><span style="font:bold">Meeting the highest standards locks</span> </li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="~/Images/schpower.jpg" class="img-responsive" alt="Cinque Terre" width="300" height="300">
        </div>
    </div>
    <p>
        As you would expect from a top quality company,  our locksmiths are fully trained and of course fully qualified. We charge very reasonable prices and take great care to meet all of our customer needs.
    </p>
</div>












